/* Stile della scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Larghezza della scrollbar */
}

/* Stile della traccia della scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Colore di sfondo della traccia */
  border-radius: 10px; /* Angoli arrotondati della traccia */
}

/* Stile del cursore della scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Colore del cursore */
  border-radius: 10px; /* Angoli arrotondati del cursore */
  border: 2px solid #f1f1f1; /* Colore del bordo del cursore */
}

/* Stile del cursore al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Colore del cursore quando il mouse è sopra */
}

/* Nascondere la scrollbar orizzontale */
body {
  overflow-x: hidden;
}

.ComeOrdinareESemplicissimo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ComeOrdinareESemplicissimo h3 {
  font-weight: bold;
  font-size: 40px;
  color: #f36805;
}

.ComeOrdinareESemplicissimo h2 {
  font-size: 25px;
  padding-top: 25px;
}

.come_ordinare_è_semplicissimo {
  padding: 64px 0px;
}

.section-footer-up,
.container,
.last-part,
.last-just-eat,
.preferenze {
  background-color: #efedea;
  width: 100%;
}

/* INIZIO TENDINE */
.tendina {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}

.tendina-lingue-container {
  position: absolute;
  width: 100%;
  top: 55px;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}

.relative {
  position: relative;
}

.show-tendina-lingue.tendina-lingue-container {
  opacity: 1;
  visibility: visible;
}

.modal {
  padding: 9px;
  background: white;
  border-radius: 20px;
  transform: translateY(-50px);
  transition: all 0.6s;
}

.show-tendina .tendina {
  opacity: 1;
  visibility: visible;
}

.show-tendina .modal {
  transform: translateY(0px);
}

.puntatore-hamburger-menu {
  cursor: pointer;
}

/*Bottone torna su*/
.btn-torna-su {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none; /* Nascosto inizialmente*/
  transition: opacity 0.3s;
}

/*Footer*/
.tendina-internazionale,
.tendina-cucine,
.tendina-esplora,
.tendina-citta,
.tendina-catene {
  display: none;
}

/* inizio */
#button-just-eat,
#button-internazionale,
#button-cucine,
#button-esplora,
#button-citta,
#button-catene {
  border: none;
  background-color: #efedea;
}

#button-just-eat:hover,
#button-internazionale:hover,
#button-cucine:hover,
#button-esplora:hover,
#button-citta:hover,
#button-catene:hover {
  background-color: #dbd9d7;
}
#button-just-eat span {
  transition: transform 0.3s ease;
}

#button-just-eat.open span {
  transform: rotate(180deg);
}

#button-internazionale span {
  transition: transform 0.3s ease;
}

#button-internazionale.open span {
  transform: rotate(180deg);
}

#button-cucine span {
  transition: transform 0.3s ease;
}

#button-cucine.open span {
  transform: rotate(180deg);
}

#button-catene span {
  transition: transform 0.3s ease;
}

#button-catene.open span {
  transform: rotate(180deg);
}

#button-esplora span {
  transition: transform 0.3s ease;
}

#button-esplora.open span {
  transform: rotate(180deg);
}

#button-citta span {
  transition: transform 0.3s ease;
}

#button-citta.open span {
  transform: rotate(180deg);
}
/* fine */

.lista-links-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.box-logo {
  display: flex;
  justify-content: center;

  padding-top: 2rem;
}

.Immagine-logo {
  filter: brightness(0) saturate(100%) invert(12%) sepia(6%) saturate(1969%)
    hue-rotate(143deg) brightness(100%) contrast(86%);
}

.Seguici {
  padding: 2rem 0rem 2rem 0rem;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem 2rem 0rem;
  text-decoration: none;
}

.footer-logosocial {
  display: flex;
  gap: 2rem;
}

.indice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0.2rem 1rem 0rem;
  font-size: large;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.indice > div {
  font-weight: 800;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;

  padding: 0;
  width: 100%;
}
.links-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 0.9rem;
}

.liste-links {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.sito {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: list-item;
  cursor: pointer;
  text-decoration: none;
}
.sito:hover {
  text-decoration-line: underline;
}

.info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.last-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 8px;
  gap: 10px;
}

.last-links {
  display: flex;
  justify-content: center;
  padding: 12px 0;

  text-decoration: none;
  font-size: 0.8rem;
}

.last-links:hover {
  cursor: pointer;

  text-decoration-line: underline;
}

.ultima-classe {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.ultima-classe {
  text-decoration: none;
}

.ultima-classe:hover {
  cursor: pointer;

  text-decoration-line: underline;
}

.preferenze {
  display: flex;
  justify-content: center;
  padding: 12px 0;

  text-decoration: underline;
  font-weight: 700;
}

.preferenze:hover {
  cursor: pointer;

  text-decoration-line: none;
}

.last-just-eat {
  display: flex;
  justify-content: center;
  padding: 4px 16px 12px;
}
@media (min-width: 320px) and (max-width: 576px) {
  .container {
    flex-direction: column;
    padding: 0;
    gap: 0rem;
    width: 100%;
  }

  .indice {
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 700;
  }

  .last-part {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .lista-links {
    width: 300px;
    padding-left: 1rem;
  }

  .links-left {
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .sito {
    margin: 0;
    font-size: 0.8rem;
    font-family: var(--font-family);
  }

  .ultima-classe {
    padding: 0;
  }
  .il-mio-account {
    gap: 283px;
  }
  .modal {
    width: 100vw;
    height: 90vh;
    position: relative;
  }
}
