<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="upper-container">
      <div class="quadrato-colorato-panino">
        <img
          class="navbar-img-upper"
          src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/pizza"
          alt="panino"
        />
      </div>
      <span class="contenitore-spunta-testo"></span>
      <span class="hidden-tick">Pizza</span>
    </div>

    <div class="restaurant-card">
      <div>
        <picture>
          <img
            class="img-restaurant"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_240/f_auto/q_auto/dpr_1.0/d_it:cuisines:pizza-4.jpg/v1/it/restaurants/244054.jpg"
            alt=""
          />
          <img
            class="logo-restaurant"
            src="./img.jpg/logo-popi-popi.gif"
            alt=""
          />
        </picture>
        <div class="restaurant-name">
          <div class="restaurant-description">
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
