.upper-container {
  width: 100px;
  height: 66px;
  flex-direction: column;
  display: flex;
  background-color: #f36805;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 40px;
}

.quadrato-colorato-pizza {
  justify-content: center;
}

.navbar-img-upper {
  width: 112px;
  height: 73px;
  border-style: none;
  justify-content: center;
  cursor: pointer;
}
.check-container {
  width: 100%;
  display: flex;
}

.personalized-check {
  width: 16px;
  padding-bottom: 0.4rem;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.quadrato-colorato-pizza:hover + .check-container .hidden-tick {
  transform: translateX(2rem); /* Muove il testo 2rem (32px) verso destra */
}

.quadrato-colorato-pizza:hover + .check-container .personalized-check {
  opacity: 1;
  transform: translateX(1.5rem);
}

.hidden-tick {
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 12px;
}

.restaurant-card {
  background-color: #fff;
  width: 4.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #e0e0e0;
  position: relative;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}

.img-restaurant {
  width: 100%;
}
