<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../skeleton/common.css" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="upper-container">
      <div class="quadrato-colorato-pizza">
        <img
          class="navbar-img-upper"
          src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/pizza"
          alt="pizza"
        />
      </div>

      <div class="check-container">
        <span class="contenitore-spunta-testo">
          <img
            class="personalized-check"
            src="./img.jpg/check-svgrepo-com.svg"
            alt=""
          />
        </span>

        <span class="hidden-tick">Pizza</span>
      </div>
    </div>

    <div class="restaurant-card">
      <div class="higher-part">
        <div class="photo">
          <img
            class="img-restaurant"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_240/f_auto/q_auto/dpr_1.0/d_it:cuisines:pizza-4.jpg/v1/it/restaurants/244054.jpg"
            alt=""
          />
          <div class="promo-banner">
            <span>⭐ Articolo in omaggio con ordini selezionati</span>
          </div>
          <img
            class="logo-restaurant"
            src="https://d2egcvq7li5bpq.cloudfront.net/it/images/restaurants/244054.gif"
            alt=""
          />
          <div class="fidelity-card">Carta Fedeltà</div>
        </div>
      </div>
      <div class="restaurant-info">
        <h3 class="restaurant-name">L'Angolo Burger Pizza</h3>

        <div class="rating">
          <span class="rating-star">⭐</span>
          <span class="rating-score">4,4</span>
          <span class="rating-count">(200+)</span>
          <span class="rating-category">• Pizza, Gastronomia</span>
        </div>

        <div class="delivery-info">
          <span class="delivery-time">⏳ 50-65 min</span>
          <span class="free-delivery">🚴‍♂️ Consegna gratuita</span>
        </div>
      </div>
    </div>
  </body>
</html>
