#header__album-page__album-logo {
  width: 133px; /* Larghezza */
  height: 60px; /* Altezza */
  object-fit: contain; /* Per mantenere le proporzioni se necessario */
}

.header-first-page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-right-page {
  padding-left: 600px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header-first-page-container {
    padding: 10px;
  }

  /* Mostra solo il logo e il bottone hamburger */
  .btn-right-page,
  .btn-top button:not(.btn-hamburger) {
    display: none;
  }

  .just-eat-logo {
    flex: 1;
  }

  .btn-hamburger {
    display: block;
    margin-left: auto;
  }
}
