@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

/* Dichiarazione di JETSansDigital tramite @font-face */
@font-face {
  font-family: "JETSansDigital-Regular";
  src: url("https://path-to-font/JETSansDigital-Regular.woff2") format("woff2"),
    url("https://path-to-font/JETSansDigital-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JETSansDigital-Bold";
  src: url("https://path-to-font/JETSansDigital-Bold.woff2") format("woff2"),
    url("https://path-to-font/JETSansDigital-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Colori */
  --dt-color-aubergine-10: #e7d6e7;
  --dt-color-aubergine-80: #452844;
  --dt-color-berry-10: #ffe7eb;
  --dt-color-berry-90: #622d35;
  --dt-color-black: #000;
  --dt-color-blue: #125fca;
  --dt-color-blue-10: #ebf6fa;
  --dt-color-blue-25: #c1dade;
  --dt-color-blue-30: #7aadf6;
  --dt-color-blue-70: #094dac;
  --dt-color-blue-90: #083343;
  --dt-color-blue-dark-hc: #1054b4;
  --dt-color-blue-light-hc: #8bbcfe;
  --dt-color-charcoal-30: #d7d9da;
  --dt-color-charcoal-40: #b7bdbe;
  --dt-color-charcoal-50: #8c999b;
  --dt-color-charcoal-60: #5d7074;
  --dt-color-charcoal-70: #3c4c4f;
  --dt-color-charcoal-75: #303d3f;
  --dt-color-charcoal-80: #242e30;
  --dt-color-cupcake-10: #e7f4f6;
  --dt-color-cupcake-90: #254043;
  --dt-color-green: #017a39;
  --dt-color-green-10: #e5faef;
  --dt-color-green-30: #22bf65;
  --dt-color-green-90: #273f33;
  --dt-color-green-dark-hc: #196634;
  --dt-color-green-light-hc: #26d46e;
  --dt-color-mozzarella-10: #f5f3f1;
  --dt-color-mozzarella-100: #1a1a19;
  --dt-color-mozzarella-20: #efedea;
  --dt-color-mozzarella-30: #dbd9d7;
  --dt-color-mozzarella-5: #fcfcfc;
  --dt-color-mozzarella-50: #9e9c9a;
  --dt-color-mozzarella-60: #797876;
  --dt-color-mozzarella-70: #575655;
  --dt-color-mozzarella-75: #494847;
  --dt-color-mozzarella-80: #3b3a39;
  --dt-color-mozzarella-90: #262626;
  --dt-color-orange: #f36805;
  --dt-color-orange-10: #ffead4;
  --dt-color-orange-30: #ff8000;
  --dt-color-orange-55: #f75e28;
  --dt-color-orange-90: #41301f;
  --dt-color-orange-dark-hc: #a33100;
  --dt-color-purple: #5b3d5b;
  --dt-color-purple-light-hc: #ba98ba;
  --dt-color-red: #d50525;
  --dt-color-red-10: #ffe9ea;
  --dt-color-red-25: #f2a6b0;
  --dt-color-red-30: #ec556c;
  --dt-color-red-90: #491e24;
  --dt-color-red-dark-hc: #a4041f;
  --dt-color-red-light-hc: #ff7a80;
  --dt-color-system-purple: purple;
  --dt-color-system-purple-10: #c58af9;
  --dt-color-tomato-5: #ffd3bf;
  --dt-color-tomato-90: #622b18;
  --dt-color-turmeric-5: #fff9de;
  --dt-color-turmeric-80: #745300;
  --dt-color-white: #fff;
  --dt-color-yellow: #f6c243;
  --dt-color-yellow-10: #fff9df;
  --dt-color-yellow-90: #474630;
  --dt-color-yellow-dark-hc: #685731;
  --dt-elevation-box-shadow-01: 0px 2px 2px 0px rgba(0, 0, 0, 0.03),
    0px 3px 1px -2px rgba(0, 0, 0, 0.07), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  --dt-elevation-box-shadow-02: 0px 4px 6px 0px rgba(0, 0, 0, 0.02),
    0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  --dt-elevation-box-shadow-03: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
    0px 8px 12px -2px rgba(0, 0, 0, 0.06), 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  --dt-elevation-box-shadow-04: 0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 8px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 8px -2px rgba(0, 0, 0, 0.06);
  --dt-elevation-box-shadow-05: 0px -4px 6px 0px rgba(0, 0, 0, 0.02),
    0px -2px 12px -2px rgba(0, 0, 0, 0.08), 0px -3px 6px 0px rgba(0, 0, 0, 0.06);
  --dt-elevation-box-shadow-06: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.28), 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
  --dt-elevation-box-shadow-07: 0px 4px 6px 0px rgba(0, 0, 0, 0.08),
    0px 2px 12px -2px rgba(0, 0, 0, 0.32), 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
  --dt-elevation-box-shadow-08: 0px 2px 6px 0px rgba(0, 0, 0, 0.12),
    0px 8px 12px -2px rgba(0, 0, 0, 0.24), 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
  --dt-elevation-box-shadow-09: 0px 8px 8px 0px rgba(0, 0, 0, 0.16),
    0px 3px 20px -3px rgba(0, 0, 0, 0.4), 0px 4px 8px -2px rgba(0, 0, 0, 0.24);
  --dt-elevation-box-shadow-10: 0px -4px 6px 0px rgba(0, 0, 0, 0.08),
    0px -2px 12px -2px rgba(0, 0, 0, 0.32), 0px -3px 6px 0px rgba(0, 0, 0, 0.24);
  --dt-elevation-box-shadow-11: 0px 0px 1px 0px rgba(0, 0, 0, 0.12),
    0px 1px 5px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --dt-elevation-box-shadow-12: 0px 0px 1px 0px rgba(0, 0, 0, 0.24),
    0px 1px 5px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.16);

  /* Font */
  --font-family-default: "Ubuntu", sans-serif;
  /* Dimensioni */
  font-size: 14px;
}
/* Dichiarazione dei font personalizzati */
@font-face {
  font-family: "JETSansDigital";
  src: url("fonts/JETSansDigital-Regular.woff2") format("woff2"),
    url("fonts/JETSansDigital-Regular.woff") format("woff"),
    url("fonts/JETSansDigital-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JETSansDigital";
  src: url("fonts/JETSansDigital-Bold.woff2") format("woff2"),
    url("fonts/JETSansDigital-Bold.woff") format("woff"),
    url("fonts/JETSansDigital-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "JETSansDigital", sans-serif;
}
