.di-cosa-hai-voglia {
  display: flex;
  margin-left: 150px;
  gap: 50px;
  align-items: center;
}

.di_cosa_hai_voglia {
  width: 100%;
  background-color: #f5f3f1;
  padding: 20px;
}
@media (max-width: 480px) {
  .di-cosa-hai-voglia {
    margin-left: 0;
    flex-wrap: wrap;
  }
}
