.ricerca {
  display: flex;
}

.search {
  background-color: white;
  border: 1px solid gray;
  display: inline;
  border-radius: 999px;
  padding: 5px;
  padding-right: 1px;
  width: 509px;
  max-height: 56px;
}

.search-field {
  border: none;
  width: 329px;
  max-height: 24px;
  margin-top: 13px;
}

.search-field:focus {
  border: none;
  outline: none;
}

.btn-cerca {
  float: right;
}

.btn-x {
  display: none;
  margin-top: 5px;
}
