<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Ricerca indirizzo</title>
  </head>
  <body>
    <div class="search">
      <input
        type="text"
        placeholder="Indirizzo completo"
        class="search-field"
        onfocus="hideSubmit()"
        onblur="showSubmit()"
      />
      <button id="submit-btn" class="search-submit">Cerca</button>
    </div>
  </body>
</html>
