<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../skeleton/common.css" />
    <link
      rel="stylesheet"
      href="../card-seconda-pagina-orizzontali/index.css"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <section class="card-orizzontali">
      <div class="restaurant-card2">
        <div class="higher-part2">
          <div class="photo2">
            <img
              class="img-restaurant2"
              src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_thumb,h_240/f_auto/q_auto/dpr_1.0/d_it:cuisines:pizza-4.jpg/v1/it/restaurants/244054.jpg"
              alt="Restaurant 1"
            />
            <div class="promo-banner2">
              ⭐ Articolo in omaggio con ordini selezionati
            </div>
            <img
              class="logo-restaurant2"
              src="https://d2egcvq7li5bpq.cloudfront.net/it/images/restaurants/244054.gif"
              alt="Restaurant Logo 1"
            />
            <div class="fidelity-card2">Carta Fedeltà</div>
          </div>
          <div class="restaurant-info2">
            <h2 class="restaurant-name2">L'Angolo Burger Pizza</h2>
            <div class="rating2">
              <span class="rating-star2">⭐</span>
              <span class="rating-score2">4,4</span>
              <span class="rating-count2">(200+)</span>
              <span class="rating-category2">• Pizza, Gastronomia</span>
            </div>
            <div class="delivery-info2">
              <span class="delivery-time2">⏳ 50-65 min</span>
              <span class="free-delivery2">🚴‍♂️ Consegna gratuita</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
