<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../skeleton/common.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <div class="links-left">
        <div class="titolo">
          <div class="indice">
            <div>Just Eat</div>

            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                role="presentation"
                focusable="false"
                fill="currentColor"
                viewBox="0 0 16 16"
                class="c-pieIcon c-pieIcon--chevron-up"
                width="24"
                height="24"
              >
                <path
                  d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
                ></path>
              </svg>
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              >
              </path>
            </span>
          </div>
        </div>

        <ul class="lista-links">
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeattakeaway.com/"
              title="Informazioni su Just Eat"
            >
              <span>Informazioni su just Eat</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/help"
              title="domande frequenti"
            >
              <span>Domande Frequenti</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://ristoranti.justeat.it/"
              title="diventa partner"
            >
              <span>Diventa partner Just Eat</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
              title="diventa rider"
            >
              <span>Diventa rider Just Eat</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://careers.justeattakeaway.com/global/en"
              title="lavora con noi"
            >
              <span>Lavora con noi</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/business/"
              title="just eat for business"
            >
              <span>Just Eat for business</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/privacy-policy"
              title="Informativa sulla privacy"
            >
              <span>Informativa sulla privacy</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/informazioni/miglior-prezzo-garantito"
              title="Miglior prezzo Garantito"
            >
              <span>Miglior prezzo garantito</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/legal-information"
              title="Informazioni legali"
            >
              <span>Informazioni legali</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/cookies-policy"
              title="Informativa sui cookie"
            >
              <span>Informativa sui cookie</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeattakeaway.com/newsroom/it-IT?_gl=1*1huhln5*_gcl_aw*R0NMLjE3MzM1NzQxNTguQ2owS0NRaUFnZEM2QmhDZ0FSSXNBUFdOV0gxVDlHOHhKR1F5VDktc3dJei1jUE5MQks1akh5V1RRR2xxb1IxS19WcnJubllkSzJCX1dpRWFBdDdfRUFMd193Y0I.*_gcl_dc*R0NMLjE3MzM1NzQxNTguQ2owS0NRaUFnZEM2QmhDZ0FSSXNBUFdOV0gxVDlHOHhKR1F5VDktc3dJei1jUE5MQks1akh5V1RRR2xxb1IxS19WcnJubllkSzJCX1dpRWFBdDdfRUFMd193Y0I.*_gcl_au*MTE2NDA0MDcxNC4xNzMxOTM3OTEx*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczMzY1ODExMy4xNS4xLjE3MzM2NjY4NTYuMC4wLjA."
              title="Media e stampa"
            >
              <span>Media e stampa</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://access.justeat.it/auth/realms/it/protocol/openid-connect/auth?client_id=partner-centre&redirect_uri=https%3A%2F%2Fpartner-centre.justeat.it%2Fhome&state=dd0c91ee-2e27-40e3-86e6-0e0872b31447&response_mode=query&response_type=code&scope=openid&nonce=4d8c107f-1891-4e63-bacb-6bc31b3ecae2&ui_locales=it&code_challenge=_VwvZkSKx9L8gchkNVNMSePnLCUGNgKc5WovnxDjbww&code_challenge_method=S256"
              title="Partner Hub"
            >
              <span>Partner Hub</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/help/report-content-concern"
              title="Segnala un problema sul contenuto"
            >
              <span>Segnala un problema sul contenuto</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="info">
        <div class="indice">
          <div>Internazionale</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              width="24"
              height="24"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>

        <div class="indice">
          <div>Cucine</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              width="24"
              height="24"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>

        <div class="indice">
          <div>Esplora</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              width="24"
              height="24"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>

        <div class="indice">
          <div>Città</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              width="24"
              height="24"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>

        <div class="indice">
          <div>Catene</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              width="24"
              height="24"
            >
              <path
                d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>
      </div>
    </div>

    <div class="last-part">
      <div class="last-links">
        <a class="ultima-classe" href="https://ristoranti.justeat.it/"
          >Diventa partner Just Eat</a
        >
      </div>
      <div class="last-links">
        <a
          class="ultima-classe"
          href="https://careers.justeattakeaway.com/global/en"
          >Lavora con noi</a
        >
      </div>
      <div class="last-links">
        <a
          class="ultima-classe"
          href="https://www.justeat.it/terms-and-conditions"
          >Termini di servizio</a
        >
      </div>
      <div class="last-links">
        <a class="ultima-classe" href="https://www.justeat.it/privacy-policy"
          >Informativa sulla privacy</a
        >
      </div>
      <div class="last-links">
        <a class="ultima-classe" href="https://www.justeat.it/legal-information"
          >Informazioni legali</a
        >
      </div>
      <div class="last-links">
        <a class="ultima-classe" href="https://www.justeat.it/cookies-policy"
          >Informativa cookie</a
        >
      </div>
      <div class="last-links">
        <a
          class="ultima-classe"
          href="https://www.justeat.it/informazioni/bugbounty"
          >Bug bounty</a
        >
      </div>
      <div class="last-links">
        <a
          class="ultima-classe"
          href="https://app.convercent.com/it-it/LandingPage/d8e86634-ec59-ec11-a985-000d3ab9f296"
          >Linea diretta per l'etica</a
        >
      </div>
    </div>
    <div class="last-just-eat">© 2024 Just Eat</div>

    <a class="preferenze">Vedi preferenze sui cookie</a>
  </body>
</html>
