.research_locals {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f4f2f2;
  border-radius: 45px;
}

.svg {
  margin-right: 15px;
}

.search-locals {
  background: none;
  border: none;
  font-size: 1rem;
}

.search-locals:focus {
  outline: none;
}
