<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Locali e articoli</title>
  </head>
  <body>
    <div class="research_locals">
      <div class="svg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
        >
          <g fill="none" stroke="orange" stroke-width="2">
            <!-- Corpo della lente -->
            <circle cx="10" cy="10" r="7" />
            <!-- Manico della lente -->
            <line x1="16" y1="16" x2="21" y2="21" />
          </g>
        </svg>
      </div>
      <input
        type="text"
        placeholder="Locali e articoli"
        class="search-locals"
      />
    </div>
  </body>
</html>
