<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../skeleton/common.css" />
    <link rel="stylesheet" href="../homepage-card/index.css" />
    <link rel="stylesheet" href="index.css" />

    <title>Document</title>
  </head>
  <body>
    <section class="superior-section-img">
      <div class="upper-container">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/pizza"
            alt="pizza"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Pizza</span>
        </div>
      </div>
      <div class="upper-container-2">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/italiano"
            alt="pizza"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Pasta</span>
        </div>
      </div>
      <div class="upper-container-3">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/panini"
            alt="pasta"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Panini</span>
        </div>
      </div>
      <div class="upper-container-4">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/fritti"
            alt="fritti"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Fritti</span>
        </div>
      </div>
      <div class="upper-container-5">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/piadine"
            alt="piadina"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Piadine</span>
        </div>
      </div>
      <div class="upper-container-6">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/sushi"
            alt="Sushi-Giapponese"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Sushi-Giapponese</span>
        </div>
      </div>
      <div class="upper-container-7">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/cinese"
            alt="cinese"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Cinese</span>
        </div>
      </div>
      <div class="upper-container-8">
        <div class="quadrato-colorato-pizza">
          <img
            class="navbar-img-upper"
            src="https://www.justeat.it/consumer-web/images/cuisineImageTilePlaceholder.775acde1.svg"
            alt="Focacce"
          />
        </div>
        <div class="check-container">
          <span class="contenitore-spunta-testo">
            <img
              class="personalized-check"
              src="./img.jpg/check-svgrepo-com.svg"
              alt=""
            />
          </span>

          <span class="hidden-tick">Focacce</span>
        </div>
      </div>
      <div>
        <button type="button" class="btn-mostra-di-più">Mostra di più</button>
      </div>
    </section>
  </body>
</html>
