/* Stile per il contenitore */
.ordina-per {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Stile per l'etichetta */
.ordina-per label {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* Stile per il select */
.ordina-per select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d7d9da;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}
.ordina-per select:hover {
  background-color: #efedea;
}
/* Stile per le opzioni del select */
.ordina-per option {
  padding: 10px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

/* Hover sugli options */
.ordina-per option:hover {
  background-color: #094dac; /*da verificare per incompatibilità*/
}

.form-title {
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: 0.4s;
  border-radius: 34px;
  width: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1054b4;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.form-container {
  max-width: 280px;
}

.aperto-ora,
.novità,
.consegna-gratuita {
  font-size: 17px;
  font-weight: bold;

  color: black;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group:last-child {
  margin-bottom: 0;
}
